<!DOCTYPE html>
<html>
	<head>
			<title>Home</title>
		<link rel="stylesheet" href="https://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		<link rel="stylesheet"
href="https://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap-theme.min.css">
<!-- jQuery library -->
		<script src="https://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
			
		<style>
			body { padding-top: 80px }
            .jumbotron {
                text-align: center;
                background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('https://community.dur.ac.uk/change-ringers.society/images/ringing/localringing/durhamfull.jpg');
                color: lightblue;
                background-repeat:  no-repeat;
                background-size: cover;
                height: 500px;
                
                
            }
		</style>
	</head>
	
	<body>
	<!-- Navigation bar -->
		<div id="tab-custom" class = "container">
			<!--Comes from navbar.twig-->
			{{navbar|raw}}
            
            <!-- Page Header-->
            <div class="jumbotron">
                <h1>Hello gcdk35.</h1>
                <p>Mark my words (0/10)</p>
            
            </div>
			
			<!-- Main tab section here -->
			<ul class ="nav nav-tabs" data-tabs="tabs">
				<li class = "active"><a  data-toggle="tab" role="tab" href="#tab_student">All</a></li>
				<li><a data-toggle="tab" role="tab" href="#tab_pending">Pending</a></li>
				<li><a data-toggle="tab" role="tab" href="#tab_clashes">Clashes</a></li>
				<li><a data-toggle="tab" role="tab" href="#tab_merged">Merged</a></li>
			</ul>
			<div class = "tab-content">
				<div id="tab_student" class="tab-pane fade in active">
					{{studentTab|raw}}
				</div>
				<div id="tab_pending" class="tab-pane fade">
					{{pendingTab|raw}}
				</div>

				<div id="tab_clashes" class="tab-pane fade">
					{{clashesTab|raw}}
				</div>
				<div id="tab_merged" class="tab-pane fade">
					{{mergedTab|raw}}
				</div>
			</div>
		</div>
	</body>
</html>
