<div class = "examined">
	<h3 class = "page-header">Examined</h3>
	<div class = "panel-group">
		{% if  ExaminedStudents| length == 0 %}
		<h5 align="center"> No documents to display </h5>
		{% endif %}
		{% for student in ExaminedStudents %}
		<div class = "panel">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					{{student.studentName}}
				</h4>
			</div>
			<div class = "panel">
				<div class = "panel-body">
					<table class ="table text-center">
						<thead>
							<tr>
								<th class="text-center">Document</th>
								<th class="text-center">Submitted</th>
								<th class="text-center">Merged</th>
							</tr>
						</thead>
						<tbody>
							{% for doc in student.forms %}
							<tr class = "{{doc.type}}"> 
								<td>{{doc.title}}</td>
									<td><a href="{{doc.submitted_link}}">{% if doc.submitted %} Submitted {% else %} Not Submitted {% endif %}</a></td>
									<td><a href= "{% if doc.merged == 0 %}#{% else %} {{doc.linkMerged}} {% endif %}">{% if doc.merged == 0 %} Not Merged{% elseif doc.merged == 1 %} Merged {% elseif doc.merged == 2 %}Clashed{% elseif doc.merged == 3 %} Not Confirmed{% elseif doc.merged == 4 %} Not Edited{% endif %}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<div class = "Supervised">
	<h3 class = "page-header">Supervised</h3>
	<div class = "panel-group">
		{% if  SupervisedStudents | length == 0 %}
		<h5 align="center"> No documents to display </h5>
		{% endif %}
		{% for student in SupervisedStudents %}
		<div class = "panel">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					{{student.studentName}}
				</h4>
			</div>
			<div class = "panel">
				<div class = "panel-body">
					<table class ="table text-center">
						<thead>
							<tr>
								<th class="text-center">Document</th>
								<th class="text-center">Submitted</th>
								<th class="text-center">Merged</th>
							</tr>
						</thead>
						<tbody>
							{% for doc in student.forms %}
							<tr class = "{{doc.type}}"> 
								<td>{{doc.title}}</td>
									<td><a href="{{doc.submitted_link}}">{% if doc.submitted %} Submitted {% else %} Not Submitted {% endif %}</a></td>
									<td><a href= "{% if doc.merged == 0 %}#{% else %} {{doc.linkMerged}} {% endif %}">{% if doc.merged == 0 %} Not Merged{% elseif doc.merged == 1 %} Merged {% elseif doc.merged == 2 %}Clashed{% elseif doc.merged == 3 %} Not Confirmed{% elseif doc.merged == 4 %} Not Edited{% endif %}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

