<!DOCTYPE html>
<html>
	<head>
		
		<!-- jQuery library -->
		<script src="http://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>
		<!-- bootstrap -->
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		
		
		<!-- alert-danger and alert-success must be defined here as the color field is not properly collected from the theme -->
		<style>
			.thick {
					font-weight: bold;
			}
			body { padding-top: 80px }
		
			.alert-danger{
				color: #ffffff
			}
	
			.alert-success{
				color: #ffffff
			}
		</style>
		</style>
		<title>ODR Admin</title>
		
	</head>
	
	<body>
	{{navbar|raw}}
		<form id="form_staff_linker" onsubmit="makeRelationship();" class="container">
			<div id="row1" class="row">
				<div class="panel-group">
				<div id="col1" class="col-md-4">
					<div id="student_panel" class="panel panel-primary">
						<div id="student_panel_heading" class="panel-heading">Student</div>
						<div id="student_section" class="panel-body">
							<label for="label_box_student_id" class="label label-primary"> ID </label>
							<input type="text" id="box_student_id" class="form-control">
							
							<label for="label_box_student_forename" class="label label-info"> Forename </label>
							<input type="text" id="box_student_forename" class="form-control">
							
							<label for="label_box_student_surname" class="label label-info"> Surname </label>
							<input type="text" id="box_student_surname" class="form-control">
							
							<label for="label_box_student_year" class="label label-info"> Year of Course </label>
							<input type="text" id="box_student_year_of_study" class="form-control">
						</div>
					</div>
				</div>
				<div id="col2" class="col-md-4">
					<div id="supervisor_panel" class="panel panel-primary">
						<div id="supervisor_panel_heading" class="panel-heading">Supervisor</div>
						<div id="supervisor_section" class="panel-body">
							<label for="label_box_marker_id" class="label label-primary"> ID </label>
							<input type="text" id="box_supervisor_id" class="form-control">
							
							<label for="label_box_supervisor__forename" class="label label-info"> Forename </label>
							<input type="text" id="box_supervisor_forename" class="form-control">
							
							<label for="label_box_supervisor_surname" class="label label-info"> Surname </label>
							<input type="text" id="box_supervisor_surname" class="form-control">
						</div>
					</div>
				</div>
				<div id="col3" class="col-md-4">
					<div id="examiner_panel" class="panel panel-primary">
					<div id="examiner_panel_heading" class="panel-heading">Examiner</div>
						<div id="examiner_section" class="panel-body">
							<label for="label_box_marker_id" class="label label-primary"> ID </label>
							<input type="text" id="box_examiner_id" class="form-control">
							
							<label for="label_box_examiner__forename" class="label label-info"> Forename </label>
							<input type="text" id="box_examiner_forename" class="form-control">
							
							<label for="label_box_examiner_surname" class="label label-info"> Surname </label>
							<input type="text" id="box_examiner_surname" class="form-control">
						</div>
					</div>
				</div>
			</div>
			</div>
			<div id="row2" class="row">
				<div id="submission_section" class="col-md-12 text-center">
					<H1>
					<input type="submit" class="btn btn-lg btn-primary text-center" value="Add Relationship" id="form_staff_linker_submit">
					</H1>
				</div>
			</div>
			<div id="row3" class="row">
				<div id="alert_section" class="col-md-12 text-center">
					<div id="box_alert_success" class="alert alert-dismissable alert-success" style="display:none"></div>
					<div id="box_alert_failure" class="alert alert-dismissable alert-danger" style="display:none"></div>
				</div>
			</div>
		</form>
		
		
		<script>
		// make sure that submit button does not submit the form and reload the page
		// use custom functionality instead
		$('#form_staff_linker_submit').click(function(e){
			e.preventDefault();
			makeRelationship();
		});
		
		// make a relationship
		function makeRelationship(){
			var argument_set = {};
			var examiner_id = $('#box_examiner_id').val();
			if(examiner_id != ""){
				argument_set["examiner_id"] = examiner_id;
			}
			var examiner_forename = $('#box_examiner_forename').val();
			if(examiner_forename != ""){
				argument_set["examiner_forename"] = examiner_forename;
			}
			var examiner_surname = $('#box_examiner_surname').val();
			if(examiner_surname != ""){
				argument_set["examiner_surname"] = examiner_surname;
			}
			
			
			var supervisor_id = $('#box_supervisor_id').val();
			if(supervisor_id != ""){
				argument_set["supervisor_id"] = supervisor_id;
			}
			var supervisor_forename = $('#box_supervisor_forename').val();
			if(supervisor_forename != ""){
				argument_set["supervisor_forename"] = supervisor_forename;
			}
			var supervisor_surname = $('#box_supervisor_surname').val();
			if(supervisor_surname != ""){
				argument_set["supervisor_surname"] = supervisor_surname;
			}
			
			var student_id = $('#box_student_id').val();
			if(student_id != ""){
				argument_set["student_id"] = student_id;
			}
			var student_forename = $('#box_student_forename').val();
			if(student_forename != ""){
				argument_set["student_forename"] = student_forename;
			}
			var student_surname = $('#box_student_surname').val();
			if(student_surname != ""){
				argument_set["student_surname"] = student_surname;
			}
			var student_year_of_study = $('#box_student_year_of_study').val();
			if(student_year_of_study != ""){
				argument_set["student_year_of_study"] = student_year_of_study;
			}
			//console.log(argument_set);
			
			$.ajax({
				url: "{{link_marker_student_pair|raw}}",
				type:"POST",
				data: argument_set,
				complete: function(){
					//console.log(this.url);
				},
				success: function(resp){
					//console.log("success stuff here");
					//console.log(this.url);
					//console.log(resp);
					//console.log("about to json parse");
					js_resp = JSON.parse(resp);
					//console.log("just json parsed theoretically");
					if("success" in js_resp){
						$('#box_alert_success').html('<strong>Success: </strong>' + js_resp["success"]);
						//console.log($('#box_alert').html());
						$("#box_alert_success").fadeTo(10000, 500).slideUp(500, function(){
							$("#box_alert_success").slideUp(500);
						});
					}
					else if("error" in js_resp){
						$('#box_alert_failure').html('<strong>Failure: </strong>' + js_resp["error"]);
						$("#box_alert_failure").fadeTo(10000, 500).slideUp(500, function(){
							$("#box_alert_failure").slideUp(500);
						});
					}
				},
				error: function(resp){
					//console.log("Failed to complete collection of data from the database")
					//console.log(resp);
					$('#box_alert_failure').html('<strong>Failure: </strong> Something went wrong');
					$("#box_alert_failure").fadeTo(10000, 500).slideUp(500, function(){
						$("#box_alert_failure").slideUp(500);
					});
				}
			});
		}
		
		// Autocomplete functionality 
		// if the id uniquely identifies the student, autocomplete
		$('#box_student_id').on("keyup",function(e){
			if(!(e.keyCode >= 8 && e.keyCode <= 46) && !(e.keyCode == 91 || e.keyCode == 93)){
				var argument_set = {};
				argument_set["student_id"] = $('#box_student_id').val();
				//console.log("student id: " + argument_set["student_id"]);
				$.ajax({
					url: "{{get_student|raw}}",
					type:"POST",
					data: argument_set,
					success: function(resp){
						//console.log(resp);
						js_resp = JSON.parse(resp);
						if ("success" in js_resp){
							$('#box_student_id').val(js_resp["success"]["student_id"]);
							$('#box_student_forename').val(js_resp["success"]["forename"]);
							$('#box_student_surname').val(js_resp["success"]["surname"]);
							$('#box_student_year_of_study').val(js_resp["success"]["year_of_study"]);
						}
						else{
							//console.log("Didn't get proper stuff for things here");
						}
					},
					complete: function(){
						//console.log("function thing is complete");
					}
				});
			}
		});
		
		//autocomplete functionality
		// if the id uniquely identifies the supervisor, autocomplete
		$('#box_supervisor_id').on("keyup",function(e){
			if(!(e.keyCode >= 8 && e.keyCode <= 46) && !(e.keyCode == 91 || e.keyCode == 93)){
				var argument_set = {};
				argument_set["marker_id"] = $('#box_supervisor_id').val();
				$.ajax({
					url: "{{get_marker|raw}}",
					type:"POST",
					data: argument_set,
					success: function(resp){
					//console.log(this.url);
						//console.log(resp);
						js_resp = JSON.parse(resp);
						if ("success" in js_resp){
							$('#box_supervisor_id').val(js_resp["success"]["marker_id"]);
							$('#box_supervisor_forename').val(js_resp["success"]["forename"]);
							$('#box_supervisor_surname').val(js_resp["success"]["surname"]);
						}
						else{
							//console.log("Didn't get proper stuff for things here or something maybe");
						}
					},
					complete: function(){
						//console.log("function thing is complete here at this time");
					}
				});
			}
		});
		
		
		//autocomplete functionality
		// if the id uniquely identifies the examiner, autocomplete
		$('#box_examiner_id').on("keyup",function(e){
			if(!(e.keyCode >= 8 && e.keyCode <= 46) && !(e.keyCode == 91 || e.keyCode == 93)){
				var argument_set = {};
				argument_set["marker_id"] = $('#box_examiner_id').val();
				$.ajax({
					url: "{{get_marker|raw}}",
					type:"POST",
					data: argument_set,
					success: function(resp){
					//console.log(this.url);
						//console.log(resp);
						js_resp = JSON.parse(resp);
						if ("success" in js_resp){
							$('#box_examiner_id').val(js_resp["success"]["marker_id"]);
							$('#box_examiner_forename').val(js_resp["success"]["forename"]);
							$('#box_examiner_surname').val(js_resp["success"]["surname"]);
						}
						else{
							//console.log("Didn't get proper stuff for things here or something maybe");
						}
					},
					complete: function(){
						//console.log("function thing is complete here at this time");
					}
				});
			}
		})
		
		</script>
		
	</body>
</html>
