<!--COMPLETED FORM FOR AGREED MARKS REPORT, NAMES NOT EDITABLE-->

<h1>{{title}} e.g Design Report</h1> 
<h2>Agreed Marks Report</h2>
<div class = "header-details">
	<div class = "header-input">
		<label>Student Name: {{studentName}} </label>
	</div> 
	<br>
	<div class="header-input">
		<label>Examiner name: {{examinerName}} </label>
	</div>
	<br>
	<div class="header-input">
		<label>Supervisor name: {{supervisorName}} </label>
	</div>
	<br>
	<div class = "header-input">
		Total mark: {{totalMark}}
	</div>
</div>

<!-- table is the html returned from either allTables.twig, editableTable.twig, or nonEditableTable.twig-->
{{table|raw}}

<div class = "general-comments">
	General comments on the paper<br>
	<div class = "comments"> {{comments}} </div>
</div>

