<!--AIM IS FOR THIS TO GENERATE ALL POSSIBLE TABLES FOR FORMS -->
<table>
	<col width="35%">
	<col width="5%">
	<col width="45%">
	<tr>
		<th>Criteria</th>
		<th>Mark</th>
		<th>Rationale</th>
	</tr>
	{% for row in rows %}
		<tr>
			<td class = "padding">{{row.criteria|raw}}</td>
			{% if row.markReadOnly %}
				<td class = "no-edit">{{row.mark}}</td>
			{% else %}
			<td><textarea form="{{formID}}" name= "mark-{{row.markID}}">{{row.mark}}</textarea></td>
			{% endif %}

			{% if row.rationaleReadOnly  %}
			<td class="no-edit">{{row.rationale}}</td>
			{% else %}
			<td><textarea form="{{formID}}" name = "rationale-{{row.rationaleID}}"> {{row.rationale}} </textarea></td>
			{% endif %}
		</tr>
	{% endfor %}
</table>

