<!--AIM IS FOR THIS TO GENERATE ALL POSSIBLE TABLES FOR FORMS -->
<table>
	<col width="35%">
	<col width="5%">
	<col width="45%">
	<tr>
		<th>Criteria</th>
		<th>Mark</th>
		<th>Rationale</th>
	</tr>
	{% for row in rows %}
		<tr>
			<td>{{row.criteria}}</td>
			<td><textarea form="documentID" name= {{row.markID}} {{markReadOnly}}> {{row.mark}} </td>
			<td><textarea form="documentID" name = {{row.rationaleID}} {{rationaleReadOnly}}> {{row.rationale}} </td>
		</tr>
	{% endfor %}
</table>

/*Example Input
(markReadOnly=>"readonly",
rationaleReadOnly => "",
rows => 
	(criteria => "criteria",
	markID=> "mark1",
	mark=> "67"
	rationaleID=>"rationale1",
	rationaleReadOnly => "",
	rationale => "rationale")

readonly attribute = "" means textarea can be edited
readonly attribute = "readonly" means textarea can't be changed
Allows this one twig file to generate all possible tables
*/