<!--AIM IS FOR THIS TO GENERATE ALL POSSIBLE TABLES FOR FORMS -->
<table>
	<col width="35%">
	<col width="5%">
	<col width="45%">
	<tr>
		<th>Criteria</th>
		<th>Mark</th>
		<th>Rationale</th>
	</tr>
	{% for row in rows %}
		<tr>
			<td>{{row.criteria}}</td>
			<td><textarea form="documentID" name= {{row.markID}} {{row.markReadOnly}}> {{row.mark}} </textarea></td>
			<td><textarea form="documentID" name = {{row.rationaleID}} {{row.rationaleReadOnly}}>{{row.rationale}} </textarea></td>
		</tr>
	{% endfor %}
</table>