<!--COMPLETED FORM FOR EXAMINER AND SUPERVISOR REPORTS, NOT EDITABLE-->

<h1>{{title}}</h1> 
<h2>Individual {{markerType}}'s Report</h2>
<div class = "header-details">
	<div class = "header-input">
		<h4>Student Name: {{studentName}} </h4>
	</div> 
	<div class="header-input">
		<h4>{{markerType}} Name: {{markerName}} </h4>
	</div>
	<br>
	<div class = "header-input">
		Total mark: {{totalMark}}
	</div>
</div>

<!-- table is the html returned from either allTables.twig, editableTable.twig, or nonEditableTable.twig-->
{{table|raw}}

<div class = "general-comments">
	General comments on the paper<br>
	<div class = "comments"><textarea form="documentID" name="comments"> {{comments}} </div>
</div>

