<!--COMPLETED FORM FOR EXAMINER AND SUPERVISOR REPORTS, NOT EDITABLE-->

<h1>{{title}} e.g Design Report</h1> 
<h2>Individual {{markerType}}'s Report e.g Individual Examiner's report</h2>
<div class = "header-details">
	<div class = "header-input">
		<label>Student Name: {{studentName}} </label>
	</div> 
	<div class="header-input">
		<label>{{markerType}} name: {{markerName}} </label>
	</div>
	<br>
	<div class = "header-input">
		Total mark: {{totalMark}}
	</div>
</div>

<!-- table is the html returned from either allTables.twig, editableTable.twig, or nonEditableTable.twig-->
{{table|raw}}

<div class = "general-comments">
	General comments on the paper<br>
	<div class = "comments"> {{comments}} </div>
</div>

