<!--EDITABLE FORM FOR EXAMINER AND SUPERVISOR REPORTS-->
<!DOCTYPE html>
<h1>{{title}}</h1> 
<h2>{{subtitle}}</h2>
<div class = "header-details">
	<div class = "header-input">
		<h4><strong>Student name:</strong> {{studentName}}</h4>
	</div> 
	{% if supervisorName %}
		<div class="header-input">
			<h4><strong>Supervisor name:</strong> {{supervisorName}}</h4>
		</div>
	{% endif %}
	{% if examinerName %}
		<div class="header-input">
			<h4><strong>Examiner name:</strong> {{examinerName}}</h4>
		</div>
	{% endif %}
	{% if totalMark != -1 %}
		<div class="header-input">
			<h4><strong>Total mark: </strong> {{totalMark}}</h4>
		</div>
	{% endif %}
</div>

{{table|raw}}

<div class = "general-comments" style="padding-bottom:10px;">
	General comments<br>
	<div class = "comments padding">{{comments|raw}}</div>
</div>

{% if confirmButton %}
<form  id ="{{formID}}">
	<input type="submit" name = "action" value="Confirm" />
	<input type="submit" name = "action" value="Reject"  />
</form>
{% endif %}
<script>
	$('*').attr('contenteditable','false');
</script>

