<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Stylesheet for printing -->
	<link rel="stylesheet" type="text/css" href="../public/css/print.css" media="print">
	
	<!--Own styling-->
	<link rel="stylesheet" type="text/css" href="../public/css/forms.css">
	<style>
		.form-inline{text-align:center;}
		body{padding-top:60px;}
	</style>

	<script src="js/pdfExportPage.js"></script>
</head>


{% for student in studentList %}
	<div class = "panel">
		<div class = "panel-heading">
			<h2>
				<div class = "panel-title">
					{{student.studentInfo}}
				</div>
				
			</h2>
		<div>
		<div class = "panel">
			<div class = "panel-body">
				<table class ="table text-center">
					<thead>
						<tr>
							<th class="text-center">Documents</th>
						</tr>
					</thead>
					<tbody>
						    {% for name,form in student.forms %}
								<tr class = "{{doc.type}}"> 
									<td><a href=test.php?form={{form}}>{{name}}</a></td>
					         	</tr>
						    {% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endfor %}

{# <body>

{% for student in studentList %}
    {{student.studentInfo}}
    {% for name,form in student.forms %}
        <a href=test.php?form={{form}}>{{name}}</a>
    {% endfor %}
{% endfor %}

</body> #}