<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		<title>ODR Admin</title>
		<!-- jQuery library -->
		<script src="http://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<link rel="stylesheet" type="text/css" href="./css/print.css" media="print">
		<style>
			.thick {
					font-weight: bold;
			}
			body { padding-top: 80px }

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Stylesheet for printing -->
	<link rel="stylesheet" type="text/css" href="../public/css/print.css" media="print">
	
	<!--Own styling-->
	<link rel="stylesheet" type="text/css" href="../public/css/forms.css">
	<style>
		.form-inline{text-align:center;}
		body{padding-top:60px;}
	</style>
</head>

<body>
	<div class="container">

		{{navbar|raw}}

        {% if isEmpty == true %}
            <h1>No student forms to print</h1>
        {% endif %}

		{% for student in studentList %}
			<div class ="row">
				<div class="panel panel-primary">
					<div class = "panel-heading">
						<h3>{{student.studentID}}</h3>
						<h3 class="text-center">{{student.studentName}}</h3>
					</div>

					<div class = "panel-body">
						{% for name,form in student.forms %}
							<div class = "text-center">
								<th><a  href=admin_services.php?route=printing&form={{form}}>{{name}}</a></th>
							</div>
						{% endfor %}
					</div>
					
				</div>
			</div>
		{% endfor %}
	</div>
</body>