<!DOCTYPE html>
<html>
	<head>
		<title>{{documentName}} - Select</title>
		<link rel="stylesheet"
href="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/css/bootstrap.min.css">
		<link rel="stylesheet"
href="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/css/bootstrap-theme.min.css">

		<title>ODR Admin</title>
		<!-- jQuery library -->
		<script
src="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script
src="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<link rel="stylesheet" type="text/css" href="../public/css/print.css" media="print">
		
		<!--Own styling-->
		<link rel="stylesheet" type="text/css" href="../public/css/forms.css">
		<style>
			.form-inline{text-align:center;}
			body{padding-top:60px;}
		</style>
	</head>
	
	<body>
	<!-- Navigation bar -->
	
		<div class = "container">
			{{navbar|raw}}
			
		
		<!-- Main document on page starts here -->
			<div class="document-container">
				<h1>{{documentName}}</h1> 
				<p align="center"> Select the student's name, to see their form. </p>
				<form class="form-inline" method = "get" action="../public/forms.php">
					<input type = "hidden" name = "route" value="receive">
					<div class = "form-group">
						<label> Student's name: </label>
						<select class="form-control" name="id">
							{% for student in students %}
								<option value="{{student.formID}}">{{student.name}} - Year {{student.level}}</option>
							{% endfor %}
						</select>
						<input type="submit" value="Go to form"></input>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
