<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<link rel="stylesheet" type="text/css" href="../public/print.css" media="print">
		
		<!--Own styling-->
		<link rel="stylesheet" type="text/css" href="../public/forms.css">
		<style>
			.form-inline{text-align:center;}
			body{padding-top:60px;}
		</style>
	</head>
	
	<body>
	<!-- Navigation bar -->
	
		<div class = "container">
			{{navbar|raw}}
			
		
		<!-- Main document on page starts here -->
			<div class="document-container">
				<h1>{{documentName}}</h1> 
				
				<form class="form-inline" method = "get" action="../public/index.php">
					<input type = "hidden" name = "route" value="receive">
					<div class = "form-group">
						<label> Student's name: </label>
						<select class="form-control" name="id">
							{% for student in students %}
								<option value="{{student.formID}}">{{student.name}} - Year {{student.level}}</option>
							{% endfor %}
						</select>
						<input type="submit" value="Go to form"></input>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>