<!DOCTYPE html>
<html>
	<head>
		<title>History</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet from forms (used for table styling) -->
		<link rel="stylesheet" type="text/css" href="../public/forms.css">
		
	
		<style>
			body { padding-top: 60px;}
		</style>
	</head>
	
	<body>
	<!-- Navigation bar -->
		<div class = "container">
			<!--Comes from navbar.twig-->
			{{navbar|raw}}
			
			<div id= "alerts">
			</div>

		
		<!-- MAIN DOCUMENT STARTS HERE -->
			<div class="document-container">
				<table class ="table text-center">
					<tr>
						<th>Document</th>
						<th>Comment</th>
						<th>Submission Date</th>
					</tr>
					{% for document in documents %}
						<tr>
							<td><a href = {{document.link}} >{{document.name}}</a></td>
							<td>{{document.comment}}</td>
							<td>{{document.date}}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</body>
</html>