<!DOCTYPE html>
<html>
	<head>
		<title>History</title>
		<link rel="stylesheet"
href="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/css/bootstrap.min.css">

		<link rel="stylesheet"
href="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/css/bootstrap.min.css">


		<title>ODR Admin</title>
		<!-- jQuery library -->
		<script
src="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script
src="http://community.dur.ac.uk/cs.seg04/password/conCEPt/conCEPt/bootstrap-custom/js/bootstrap.min.js"></script>


		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet from forms (used for table styling) -->
		<link rel="stylesheet" type="text/css" href="./css/forms.css">
		
	
		<style>
			body { padding-top: 60px;}
		</style>
	</head>
	
	<body>
	<!-- Navigation bar -->
		<div class = "container">
			<!--Comes from navbar.twig-->
			{{navbar|raw}}
			
			<div id= "alerts">
			</div>

		
		<!-- MAIN DOCUMENT STARTS HERE -->
			<div class="document-container">
				<h3 class="page-header">History</h3>
				<table class ="table text-center">
					<tr>
						<th>Document</th>
						<th>Comment</th>
						<th>Submission Date</th>
					</tr>
					{% for document in documents %}
						<tr>
							<td><a href = {{document.link}} >{{document.name}}</a></td>
							<td>{{document.comment}}</td>
							<td>{{document.date}}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</body>
</html>
