<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<!-- Stylesheet for editing -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<!--Own styling-->

		<!--Own JavaScript-->

		<!--Code for the Rich Text Editing of forms-->
		<script>
				$('.editable').notebook();
		</script>
	</head>
	<body>
		<div class = "container">		
		<!-- MAIN DOCUMENT STARTS HERE -->
			<div class="document-container">
				<h1>{{title}}</h1> 
			    <h2>{{subtitle}}</h2>
				<div class = "header-details">
					<div class = "header-input">
						<h4><strong>Student name:</strong> {{studentName}}</h4>
					</div> 
					<div class="header-input">
						<h4><strong>Supervisor name:</strong> {{supervisorName}}</h4>
					</div>
					<div class="header-input">
						<h4><strong>Examiner name:</strong> {{examinerName}}</h4>
					</div>
					<div class="header-input">
						<h4><strong>Total mark: </strong> {{totalMark}}</h4>
					</div>
				</div>
				<div>
					<table class = "table table-bordered">
						<col width="35%">
						<col width="5%">
						<col width="45%">
						<tr>
							<th>Criteria</th>
							<th>Mark</th>
							<th>Rationale</th>
						</tr>
						{% for row in rows %}
							<tr>
								<td class = "padding">{{row.criteria|raw}}</td>
								<td class = "padding">{{row.mark}}</td>
								<td class = "padding">{{row.rationale}}</td>
							</tr>
						{% endfor %}
					</table>
	            </div>
			</div>
		</div>
	</body>
</html>
