<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/css/bootstrap.min.css">
		<title>ODR Admin</title>
		<!-- jQuery library -->
		<script src="http://community.dur.ac.uk/cs.seg04/jquery-3.1.1.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://community.dur.ac.uk/cs.seg04/bootstrap-custom/js/bootstrap.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Stylesheet for printing -->
		<link rel="stylesheet" type="text/css" href="./css/print.css" media="print">
		<style>
			.thick {
					font-weight: bold;
			}
			body { padding-top: 80px }

		<!-- Stylesheet for printing -->
		<style>{{printCSS}}</style>
		<!-- Stylesheet for editing -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<style>{{jqueryNotebookCSS}}</style>
		<!--Own styling-->
		<style>{{formsCSS}}</style>

		<!--Own JavaScript-->
		<script>{{formsJS}}</script>

		<!--Code for the Rich Text Editing of forms-->
		<script>{{jqueryNotebookJS}}</script>
		<script>
		$(document).ready(function() {
				$('.editable').notebook();
			});
		</script>
	</head>
	<body>
		<div class = "container">		
		<!-- MAIN DOCUMENT STARTS HERE -->
			<div class="document-container">
				<h1>{{title}}</h1> 
			    {# <h2>{{subtitle}}</h2> #} {# Potentially not needed #}
			    <br>
				<div class = "header-details">
					<div class = "header-input">
						<h4><strong>Student name:</strong> {{studentName}}</h4>
					</div> 
					<div class="header-input">
						<h4><strong>Supervisor name:</strong> {{supervisorName}}</h4>
					</div>
					<div class="header-input">
						<h4><strong>Examiner name:</strong> {{examinerName}}</h4>
					</div>
					<div class="header-input">
						<h4><strong>Total mark: </strong> {{totalMark}}</h4>
					</div>
				</div>
				<div>
					<table class = "table table-bordered">
						<col width="35%">
						<col width="5%">
						<col width="45%">
						<tr>
							<th>Criteria</th>
							<th>Mark</th>
							<th>Rationale</th>
						</tr>
						{% for row in rows %}
							<tr>
								<td class = "padding">{{row.criteria|raw}}</td> {# Takes raw output of criteria.twig #}
								<td class = "padding">{{row.mark}}</td>
								<td class = "padding">{{row.rationale|raw}}</td>
							</tr>
						{% endfor %}
					</table>
	            </div>
	            <div class = "general-comments">
					General comments<br>
					<div class = "comments padding">{{generalComments|raw}}</div>
				</div>
			</div>
		</div>
	</body>
</html>
